.product-title {
    padding-bottom: 12px;
    width: 520px;

    &__link-container {
        text-decoration: none;
        color: #000;

        img {
            padding: 50px;
            background-color: #f4f4f4;
        }

        h4 {
            padding-top: 24px;
            padding-bottom: 12px;
        }
    }

    &__content-container {
        width: 100%;
        display: flex;
        flex-grow: 1;

        & > span {
            flex-grow: 5;
            margin-top: 8px;
            margin-bottom: 24px;
        }

        section {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            font-size: 14px;
        }
    }
}
