.ui-typography {
    &_variant {
        &_title-1 {
            font-size: 96px;
            line-height: 1.2;
            font-weight: 500;
            margin: 0;
        }

        &_title-2 {
            font-size: 32px;
            line-height: 1.2;
            font-weight: 500;
            margin: 0;
        }

        &_sub-title {
            font-size: 21px;
        }
    }
}
